[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/吕腾飞 (tuziershi)
[access "refs/for/refs/*"]
	read = group user/吕腾飞 (tuziershi)
	push = group user/吕腾飞 (tuziershi)
	label-Code-Review = -2..+2 group user/吕腾飞 (tuziershi)
	label-Verified = -1..+1 group user/吕腾飞 (tuziershi)
	rebase = group user/吕腾飞 (tuziershi)
	removeReviewer = group user/吕腾飞 (tuziershi)
	submit = group user/吕腾飞 (tuziershi)
[access "refs/heads/*"]
	read = group user/吕腾飞 (tuziershi)
	create = group user/吕腾飞 (tuziershi)
	push = +force group user/吕腾飞 (tuziershi)
	pushMerge = group user/吕腾飞 (tuziershi)
[access "refs/tags/*"]
	push = group user/吕腾飞 (tuziershi)
	push = +force group user/吕腾飞 (tuziershi)
